<!DOCTYPE html>
<html>
<head>
    <title>NEXUS CAMERAS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/CAMERAS.css') }}">
</head>
<body>
    <div class="wrapper CAMERAS hide">
        <div class="max_cameras">
            <!-- Video Container -->
            <div class="main_div">
                <div id="cam1" class="camera_screen" onclick="cameras_switching('cam1')">
                    <div class="title">Camera 1</div>
                    <!--<img id="video_1" src="file:///home/vboxuser/Desktop/EVA_2025/gui/template/ROV_files/stream_002">-->
                    <!-- <video id="video_1" class = "video-container" src="{{url_for('static', filename='rain0.mp4')}}" muted autoplay loop></video> -->
                    <img id="video_1" class="image_container" src="{{url_for('static', filename='rov1.png')}}">
                </div>
                <div id="cam2" class="camera_screen" onclick="cameras_switching('cam2')">
                    <div class="title">Camera 2</div>
                    <!--<img id="video_2" src="file:///home/vboxuser/Desktop/EVA_2025/gui/template/ROV_files/stream_002">-->
                    <!-- <video id="video_2" class = "video-container" src="{{url_for('static', filename='rain0.mp4')}}" muted autoplay loop></video> -->
                    <img id="video_2" class="image_container" src="{{url_for('static', filename='rov1.png')}}">
                </div>
            </div>
            <div class="side_div">
                <div id="cam3" class="camera_screen" onclick="cameras_switching('cam3')">
                    <div class="title">Camera 3</div>
                    <!--<img id="video_3" src="file:///home/vboxuser/Desktop/EVA_2025/gui/template/ROV_files/stream_002">-->
                    <!-- <video id="video_3" class = "video-container" src="{{url_for('static', filename='rain0.mp4')}}" muted autoplay loop></video> -->
                    <img id="video_3" class="image_container" src="{{url_for('static', filename='rov2.png')}}">
                </div>
                <div id="cam4" class="camera_screen" onclick="cameras_switching('cam4')">
                    <div class="title">Camera 4</div>
                    <!--<img id="video_4" src="file:///home/vboxuser/Desktop/EVA_2025/gui/template/ROV_files/stream_002">-->
                    <!-- <video id="video_4" class = "video-container" src="{{url_for('static', filename='rain0.mp4')}}" muted autoplay loop></video> -->
                    <img id="video_4" class="image_container" src="{{url_for('static', filename='rov2.png')}}">
                </div>
                <div id="cam5" class="camera_screen" onclick="cameras_switching('cam5')">
                    <div class="title">Camera 5</div>
                    <!--<img id="video_5" src="file:///home/vboxuser/Desktop/EVA_2025/gui/template/ROV_files/stream_002">-->
                    <!-- <video id="video_5" class = "video-container" src="{{url_for('static', filename='rain0.mp4')}}" muted autoplay loop></video> -->
                    <img id="video_5" class="image_container" src="{{url_for('static', filename='rov2.png')}}">
                </div>
                <div id="cam6" class="camera_screen" onclick="cameras_switching('cam6')">
                    <div class="title">Camera 6</div>
                    <!--<img id="video_6" src="file:///home/vboxuser/Desktop/EVA_2025/gui/template/ROV_files/stream_002">-->
                    <!-- <video id="video_6" class = "video-container" src="{{url_for('static', filename='rain0.mp4')}}" muted autoplay loop></video> -->
                    <img id="video_6" class="image_container" src="{{url_for('static', filename='rov2.png')}}">
                </div>
            </div>

            <!-- Button Container -->
            <div class="buttons_div">
                <div class="cameras_container">
                    <div class="title">Cameras</div>
                    <div class="cameras_list">
                        <div class="cat but">
                            <label> <input type="checkbox" checked="checked" onchange="cameras_onoff('cam1')"> <span>CAM 1</span> </label>
                        </div>
                        <div class="cat but">
                            <label> <input type="checkbox" checked="checked" onchange="cameras_onoff('cam2')"> <span>CAM 2</span> </label>
                        </div>
                        <div class="cat but">
                            <label> <input type="checkbox" checked="checked" onchange="cameras_onoff('cam3')"> <span>CAM 3</span> </label>
                        </div>
                        <div class="cat but">
                            <label> <input type="checkbox" checked="checked" onchange="cameras_onoff('cam4')"> <span>CAM 4</span> </label>
                        </div>
                        <div class="cat but">
                            <label> <input type="checkbox" checked="checked" onchange="cameras_onoff('cam5')"> <span>CAM 5</span> </label>
                        </div>
                        <div class="cat but">
                            <label> <input type="checkbox" checked="checked" onchange="cameras_onoff('cam6')"> <span>CAM 6</span> </label>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/CAMERAS.js')}}" ></script>
</body>
</html>
